<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.corecircle" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".CoreCircle" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SplashScreen" android:label="@string/app_sp"></activity>
		<activity android:name=".AppHelp" android:label="@string/atv_help"></activity>
		<activity android:name=".MyCoreSelect" android:label="@string/app_select"></activity>

		<receiver android:name=".NotificationServiceReceiver"
			android:process=":remote"></receiver>
		<!--添加服务项 -->
		<service android:name=".GetCallLogService" android:exported="true"></service>
		<service android:name=".NotificationService" android:exported="true"></service>
	</application>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
</manifest>